body {
  background-color: darkslategray;
  margin-top: 15px;
    margin-left: 15px;
}

h1 {
  color: antiquewhite;
  text-align: left;
}

h2 {
  color: antiquewhite;
  text-align: left;
  font-size: 17px;
  margin-top: -10px;
}

p {
  color: antiquewhite;
  margin-top: 40px;
  font-size: 17px;
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
