body {
  background-color: darkslategray;
  margin-top: 15px;
    margin-left: 15px;
}

h1 {
  color: antiquewhite;
  text-align: left;
  font-family: 'Aldrich', sans-serif;
}

p {
  color: antiquewhite;
  margin-top: 40px;
  font-family: 'Aldrich', sans-serif;
  font-size: 17px;
  text-align: left;
}

img {
  display: block;
  float: left;
  width: 25%;
}
